.startApp{
    max-width: 1000px;
    height:100vh;
    outline: solid 2px skyblue;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        text-align: center;
    }
    .btn{
        width:300px;
        height:50px;
        background-color: #fff;
        border:solid 2px #333;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            display: block;
            text-decoration: none;
            color:#333;
        }
    }
}