/*------------------------------
    ▼共通デザイン（モバイル向け）
-------------------------------*/
.startApp{
    font-size: 1.2rem;
    height:100vh;
    background-color: #fff;
    // outline: solid 2px skyblue;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .logo{
        animation: logoAni 4s ease infinite;
        margin: 16px 0;
    }
}
@keyframes logoAni{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

.startBtn{
    width:200px;
    height:40px;
    line-height: 40px;
    background-color: #517D99;
    // box-shadow: 0px 3px 5px #999;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    a{
        display: block;
        width:100%;
        height:100%;
        text-align: center;
        text-decoration: none;
        color:#fff;
    }
}







